@inject IFileStorageProvider FileStorageProvider
@using Raytha.Application.Common.Interfaces
@model List_ViewModel<Raytha.Web.Areas.Admin.Views.Themes.ThemesListItem_ViewModel>
@{
    ViewData["Title"] = "Themes";
}

@(await Html.PartialAsync("_PageHeader", new PageHeader_ViewModel
{
    Title = ViewData["Title"].ToString(),
}))

<div class="row mb-4">
    <div class="col-lg-12 col-md-12">
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <button class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
                        New task
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" asp-route="themescreate">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon icon-xs">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z" clip-rule="evenodd"></path>
                                </svg>
                                Create theme
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-route="themesimportfromurl">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon icon-xs">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
                                </svg>
                                Import from url
                            </a>
                        </li>
                    </ul>
                    <form class="d-flex" asp-action="Index" method="get">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>

                <div class="row g-3">
                    @foreach (var item in Model.Items)
                    {
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h2 class="fs-5 fw-bold text-uppercase mb-0 me-2">@item.Title</h2>
                                            @if (item.IsActive)
                                            {
                                                <svg class="icon icon-xs" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                                                </svg>
                                            }
                                        </div>
                                        <small class="text-muted">@item.DeveloperName</small>
                                    </div>
                                </div>
                                @{
                                    var imageUrl = item.PreviewImageObjectKey != null
                                        ? await FileStorageProvider.GetDownloadUrlAsync(item.PreviewImageObjectKey)
                                        : "/raytha_admin/assets/img/NoImagePlaceholder.jpg";
                                }
                                <div class="position-relative">
                                    <div class="ratio ratio-16x9">
                                        <img src="@imageUrl" class="img-fluid object-fit-fill" alt="Preview image" />
                                    </div>
                                </div>
                                <div class="card-body">
                                    <hr />
                                    <p class="card-text">@item.Description</p>
                                </div>
                                <div class="card-footer d-flex justify-content-between align-items-center">
                                    <small>
                                        <label asp-for="@item.LastModificationTime"></label> @item.LastModificationTime<br />
                                        <label asp-for="@item.LastModifierUser"></label> @item.LastModifierUser
                                    </small>
                                    <a class="btn btn-primary btn-sm" asp-route="themesedit" asp-route-id="@item.Id">Edit</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <partial name="_TablePagination" model="@Model" />
            </div>
        </div>
    </div>
</div>

